<%- include('partials/header')-%>
<body>
  <div class="align">
    <h1>Compose</h1>
    <div class="form-group">
      <form action="" method="POST">
        <div>
          <label for="Title">Title </label>
        </div>
        <input type="text" class="form-control" name="titlePost" id="Title" />
        <div>
          <div>
            <label for="post">Post</label>
          </div>
          <textarea
            class="form-control"
            name="titleContent"
            id="post"
            rows="6"
          ></textarea>
        </div>
     
    </div>
    <button type="submit" class="btn btn-primary mb-2">Publish</button>
</form>
  </div>
</body>

<%- include('partials/footer')-%>
